@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Longline Quart FREE';
  src: url("../fonts/Longline-Quart-Display-Font/LonglineQuartFREE.woff") format("woff"), url("../fonts/Longline-Quart-Display-Font/Longline Quart FREE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ----------------------- Variables ----------------------- */
/* ----------------------- BODY ----------------------- */
/* line 24, style.scss */
body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

/* line 31, style.scss */
.div-title-hover-effect {
  display: grid;
  place-content: center;
}
/* line 35, style.scss */
.div-title-hover-effect .title-hover-effect {
  position: relative;
  padding: 10;
}
/* line 39, style.scss */
.div-title-hover-effect .title-hover-effect:hover {
  color: white;
  transition: transform .6s ease;
}
/* line 44, style.scss */
.div-title-hover-effect .title-hover-effect::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
/* line 49, style.scss */
.div-title-hover-effect .title-hover-effect:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* line 54, style.scss */
.div-title-hover-effect .title-hover-effect::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #D47964;
  z-index: -1;
  transition: transform .6s ease;
}

/* ----------------------- TOPNAV ----------------------- */
/* line 101, style.scss */
.topnav {
  flex-direction: row;
  background-color: #E4B8AB;
  display: flex;
  justify-content: space-around;
  height: 20vh;
}
/* line 108, style.scss */
.topnav .img-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 30px 0px;
}
/* line 115, style.scss */
.topnav #burger-menu {
  display: none;
}
/* line 120, style.scss */
.topnav #burger-icon {
  display: none;
}
/* line 124, style.scss */
.topnav .menu {
  display: flex;
  align-items: center;
}
/* line 129, style.scss */
.topnav .menu .box-menu {
  display: flex;
}
/* line 132, style.scss */
.topnav .menu .box-menu .text-menu {
  padding: 56px 33px;
}
/* line 135, style.scss */
.topnav .menu .box-menu .text-menu a {
  color: #D47964;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}
/* line 145, style.scss */
.topnav .menu .box-menu .text-menu a:hover {
  background-color: #D47964;
  color: #E4B8AB;
}

/* line 160, style.scss */
.content-project-indiv .figma {
  display: block;
  margin: auto;
  width: 400px;
  height: 900px;
}

@media screen and (max-width: 1200px) {
  /* line 170, style.scss */
  .content-project-indiv .figma {
    width: 300px;
    height: 700px;
  }
}
@media screen and (max-width: 745px) {
  /* line 179, style.scss */
  .content-project-indiv .figma {
    width: 200px;
    height: 500px;
  }
}
@media screen and (max-width: 380px) {
  /* line 188, style.scss */
  .content-project-indiv h2 {
    text-align: center;
  }
  /* line 191, style.scss */
  .content-project-indiv h2::after {
    display: none !important;
  }
}
@media screen and (max-width: 958px) {
  /* line 200, style.scss */
  .topnav {
    justify-content: center;
  }
  /* line 203, style.scss */
  .topnav .menu label {
    display: block;
  }
  /* line 207, style.scss */
  .topnav .menu .box-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 270px;
    top: 0%;
    right: 0%;
    height: 651px;
    z-index: 2;
    background-color: white;
    transform: translateX(100%);
  }
  /* line 221, style.scss */
  .topnav .menu .box-menu .text-menu {
    justify-content: center;
    display: flex;
    padding: 52px 0px;
  }

  /* line 230, style.scss */
  .menu #burger-icon {
    display: block;
    font-size: 40px;
    position: absolute;
    right: 20px;
    z-index: 3;
    color: #D47964;
  }
  /* line 238, style.scss */
  .menu #burger-icon:hover {
    cursor: pointer;
  }

  /* line 245, style.scss */
  #burger-menu:checked ~ .box-menu {
    display: block;
    transform: translate(0);
  }

  /* line 255, style.scss */
  .project-header .project-indiv-header .content-project-indiv-header .mockup-project #project1 {
    height: 50%;
  }
}
/* line 264, style.scss */
.portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #D47964;
  border-color: #D47964;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 277, style.scss */
.portfolio-button:hover {
  background-color: #D47964;
  color: white;
  transition: 0.5s;
}

/*-------------------APPARITION----------------------*/
/* line 286, style.scss */
.apparition {
  -ms-flex-item-align: end;
  align-self: flex-end;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  overflow: hidden;
  -webkit-transition: opacity 0.5s,-webkit-transform 0.7s;
  transition: opacity 0.5s,-webkit-transform 0.7s;
  -o-transition: opacity 0.5s,transform 0.7s;
  transition: opacity 0.5s,transform 0.7s;
  transition: opacity 0.5s,transform 0.7s,-webkit-transform 0.7s;
  margin-bottom: 20px;
}

/* line 303, style.scss */
.apparition.animated {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* ----------------------- Header ----------------------- */
/* line 310, style.scss */
.portfolio-header {
  background-image: url(../img/fond-header-autre.png);
  height: 203px;
  margin-top: -50px;
}

/* ----------------------- Page d'accueil ----------------------- */
/* line 318, style.scss */
.home-header {
  background-image: url(../img/fond-header.png);
  height: 627px;
  margin-top: -4px;
  padding-left: 150px;
  padding-right: 150px;
}
/* line 326, style.scss */
.home-header h1 {
  font-size: 70px;
  color: #D47964;
  padding-top: 220px;
  font-family: 'Longline Quart FREE';
  overflow: hidden;
}

/*Presentation*/
/* line 337, style.scss */
.home-presentation {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 260px;
  padding-bottom: 260px;
}
/* line 347, style.scss */
.home-presentation h2 {
  font-size: 40px;
  color: #D47964;
  text-align: center;
}
/* line 353, style.scss */
.home-presentation .div-title-hover-effect {
  display: grid;
  place-content: center;
}
/* line 357, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect {
  position: relative;
}
/* line 360, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect:hover {
  color: white;
  transition: transform .6s ease;
}
/* line 365, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
/* line 370, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* line 375, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #D47964;
  z-index: -1;
  transition: transform .6s ease;
}
/* line 391, style.scss */
.home-presentation p {
  text-align: center;
  line-height: 1.8em;
  font-size: 20px;
}
/* line 397, style.scss */
.home-presentation .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #D47964;
  border-color: #D47964;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 410, style.scss */
.home-presentation .portfolio-button:hover {
  background-color: #D47964;
  color: white;
  transition: 0.5s;
}

/* ----------------------- Page a propos ----------------------- */
/* line 422, style.scss */
.a-propos-header {
  overflow-x: hidden;
}
/* line 425, style.scss */
.a-propos-header .biographie {
  background-color: #E4B8AB;
  height: 85vh;
  position: relative;
  width: calc(100% + 70px);
  margin: -50px 0 100px -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 434, style.scss */
.a-propos-header .biographie h2 {
  transform: rotate(3deg);
  margin-left: 90px;
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: 'Longline Quart FREE';
}
/* line 444, style.scss */
.a-propos-header .biographie h2::after {
  content: "";
  background-color: #D47964;
  width: 50%;
  margin-top: 55px;
  height: 3px;
  position: absolute;
}
/* line 454, style.scss */
.a-propos-header .biographie p {
  transform: rotate(3deg);
  margin: 50px auto;
  max-width: 85vw;
  padding-left: 80px;
  padding-right: 30px;
  font-size: 17px;
  color: white;
  line-height: 1.4em;
  font-weight: 400;
  text-align: center;
}

/* line 470, style.scss */
.title-line {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: 'Longline Quart FREE';
}
/* line 478, style.scss */
.title-line::after {
  content: "";
  background-color: #D47964;
  width: 50%;
  margin-top: 55px;
  height: 3px;
  position: absolute;
}

/* line 489, style.scss */
.timeline {
  margin: 50px auto;
  position: relative;
  max-width: 70vw;
}
/* line 494, style.scss */
.timeline:before {
  background-color: #D47964;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

/* line 506, style.scss */
.timeline-event {
  position: relative;
}
/* line 511, style.scss */
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: black;
}
/* line 516, style.scss */
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 black;
  -webkit-box-shadow: inset 40em 0 0 0 black;
  box-shadow: inset 40em 0 0 0 black;
}

/* line 522, style.scss */
.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
}
/* line 528, style.scss */
.timeline-event-copy h3 {
  font-size: 1.75em;
}
/* line 532, style.scss */
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
/* line 537, style.scss */
.timeline-event-copy strong {
  font-weight: 700;
}
/* line 541, style.scss */
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

/* line 546, style.scss */
.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #D47964;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

/* line 561, style.scss */
.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: #D47964;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

@media screen and (max-width: 610px) {
  /* line 574, style.scss */
  .timeline {
    margin: 50px auto;
    margin-right: 100px;
  }
}
/* ----------------------- Projets ----------------------- */
/* line 585, style.scss */
.projects {
  overflow: hidden;
  /*Projet 1*/
  /*Projet2*/
}
/* line 588, style.scss */
.projects h2 {
  font-size: 50px;
  font-family: 'Longline Quart FREE';
  color: #D47964;
  text-align: center;
  margin-top: 10px;
}
/* line 596, style.scss */
.projects .underline-title {
  width: 80px;
  height: 3px;
  background-color: #D47964;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
/* line 607, style.scss */
.projects .div-project {
  background-color: #E4B8AB;
  position: relative;
  height: 85vh;
  width: calc(100% + 70px);
  margin: 0 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 616, style.scss */
.projects .div-project .div-project-content {
  width: 100%;
}
/* line 619, style.scss */
.projects .div-project .div-project-content .mockup-project {
  display: flex;
  justify-content: center;
}
/* line 623, style.scss */
.projects .div-project .div-project-content .mockup-project #project1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 90%;
  transform: rotate(3deg);
  margin: auto;
  padding-left: 50px;
}
/* line 634, style.scss */
.projects .div-project .div-project-content .right {
  background-color: rgba(184, 148, 137, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
/* line 645, style.scss */
.projects .div-project .div-project-content .right .right-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(3deg);
}
/* line 653, style.scss */
.projects .div-project .div-project-content .right .right-content h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
}
/* line 662, style.scss */
.projects .div-project .div-project-content .right .right-content p {
  line-height: 1.5em;
  color: white;
  text-align: center;
}
/* line 668, style.scss */
.projects .div-project .div-project-content .right .right-content .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-width: 2px;
  border-color: white;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 682, style.scss */
.projects .div-project .div-project-content .right .right-content .portfolio-button:hover {
  background-color: white;
  color: #D47964;
  transition: 0.5s;
}
/* line 699, style.scss */
.projects .div-project2 {
  background-color: white;
  position: relative;
  height: 85vh;
  width: calc(100% + 50px);
  margin: 0 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 708, style.scss */
.projects .div-project2 .div-project-content {
  width: 100%;
}
/* line 711, style.scss */
.projects .div-project2 .div-project-content .mockup-project {
  display: flex;
  justify-content: center;
}
/* line 715, style.scss */
.projects .div-project2 .div-project-content .mockup-project #project1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 90%;
  transform: rotate(3deg);
  margin: auto;
  padding-left: 50px;
}
/* line 726, style.scss */
.projects .div-project2 .div-project-content .right {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
/* line 737, style.scss */
.projects .div-project2 .div-project-content .right .right-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(3deg);
}
/* line 745, style.scss */
.projects .div-project2 .div-project-content .right .right-content h3 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
}
/* line 754, style.scss */
.projects .div-project2 .div-project-content .right .right-content p {
  line-height: 1.5em;
  color: black;
  text-align: center;
}
/* line 760, style.scss */
.projects .div-project2 .div-project-content .right .right-content .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: black;
  border-width: 2px;
  border-color: black;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 774, style.scss */
.projects .div-project2 .div-project-content .right .right-content .portfolio-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

/* ----------------------- Page project seul ----------------------- */
/* line 795, style.scss */
.project-header {
  overflow: hidden;
}
/* line 799, style.scss */
.project-header .project-indiv-header {
  background-color: #E4B8AB;
  height: 85vh;
  position: relative;
  width: calc(100% + 70px);
  margin: -50px 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 808, style.scss */
.project-header .project-indiv-header .content-project-indiv-header {
  position: absolute;
  width: 100%;
  transform: rotate(3deg);
}
/* line 813, style.scss */
.project-header .project-indiv-header .content-project-indiv-header .mockup-project {
  display: flex;
  justify-content: center;
  height: 600px;
}
/* line 819, style.scss */
.project-header .project-indiv-header .content-project-indiv-header .title-line {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-family: 'Longline Quart FREE';
}
/* line 827, style.scss */
.project-header .project-indiv-header .content-project-indiv-header .title-line::after {
  content: "";
  background-color: #D47964;
  width: 15%;
  margin-top: 60px;
  height: 4px;
  position: absolute;
}

/* line 842, style.scss */
.content-project-indiv {
  padding-right: 150px;
  padding-left: 150px;
  margin-top: 150px;
}
/* line 847, style.scss */
.content-project-indiv h2 {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-family: 'Longline Quart FREE';
}
/* line 855, style.scss */
.content-project-indiv h2::after {
  content: "";
  background-color: #D47964;
  width: 15%;
  margin-top: 40px;
  height: 3px;
  position: absolute;
}
/* line 865, style.scss */
.content-project-indiv p {
  margin-top: 50px;
  margin-bottom: 130px;
  text-align: center;
  line-height: 1.4em;
}
/* line 872, style.scss */
.content-project-indiv .video {
  display: flex;
  justify-content: center;
}

/* ----------------------- ----------------------- ----------------------- */
@media screen and (max-width: 1280px) {
  /* line 881, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 90vh;
  }
  /* line 884, style.scss */
  .a-propos-header .biographie p {
    font-size: 16px;
  }
}
@media screen and (max-width: 980px) {
  /* line 905, style.scss */
  .projects
  .div-project .div-project-content .right .right-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* line 917, style.scss */
  .projects
  .div-project2 .div-project-content .right .right-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* line 926, style.scss */
  .a-propos-header .portfolio-header {
    height: 103px;
  }

  /* line 932, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 90vh;
  }
  /* line 935, style.scss */
  .a-propos-header .biographie p {
    font-size: 16px;
  }

  /* line 942, style.scss */
  .content-project-indiv {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* line 947, style.scss */
  .content-project-indiv-header {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 780px) {
  /* line 957, style.scss */
  .home-header {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 961, style.scss */
  .home-header h1 {
    font-size: 55px;
  }

  /* line 966, style.scss */
  .home-presentation {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 160px;
  }
  /* line 974, style.scss */
  .home-presentation .div-title-hover-effect h2 {
    font-size: 40px;
  }
  /* line 979, style.scss */
  .home-presentation p {
    line-height: 1.4em;
    font-size: 16px;
  }

  /* line 986, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 80vh;
  }
  /* line 989, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 10px;
  }

  /* line 1000, style.scss */
  .projects .div-project {
    height: 105vh;
  }
  /* line 1007, style.scss */
  .projects .div-project .div-project-content .mockup-project #project1 {
    height: 65%;
    margin-top: 100px;
  }
  /* line 1013, style.scss */
  .projects .div-project .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 1019, style.scss */
  .projects .div-project .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 1023, style.scss */
  .projects .div-project .div-project-content .right .right-content p {
    line-height: 1.3em;
  }
  /* line 1033, style.scss */
  .projects .div-project2 {
    height: 105vh;
  }
  /* line 1040, style.scss */
  .projects .div-project2 .div-project-content .mockup-project #project1 {
    height: 65%;
    margin-top: 100px;
  }
  /* line 1046, style.scss */
  .projects .div-project2 .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 1052, style.scss */
  .projects .div-project2 .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 1056, style.scss */
  .projects .div-project2 .div-project-content .right .right-content p {
    line-height: 1.3em;
  }
}
@media screen and (max-width: 685px) {
  /* line 1075, style.scss */
  .project-header .project-indiv-header .content-project-indiv-header .title-line::after {
    display: none !important;
  }
}
@media screen and (max-width: 650px) {
  /* line 1085, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 90vh;
  }
  /* line 1088, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 10px;
  }

  /* line 1102, style.scss */
  .projects .div-project .div-project-content .mockup-project #project1 {
    height: 58%;
    margin-top: 150px;
  }
  /* line 1113, style.scss */
  .projects .div-project2 .div-project-content .mockup-project #project1 {
    height: 58%;
    margin-top: 150px;
  }
}
/*--------------------------------------------------------------------*/
@media screen and (max-width: 540px) {
  /* line 1127, style.scss */
  .home-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 1131, style.scss */
  .home-header h1 {
    font-size: 45px;
  }

  /* line 1137, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 100vh;
  }
  /* line 1140, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 10px;
  }

  /* line 1157, style.scss */
  .projects .div-project .div-project-content .mockup-project #project1 {
    padding-left: 90px;
  }
  /* line 1162, style.scss */
  .projects .div-project .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 1168, style.scss */
  .projects .div-project .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 1172, style.scss */
  .projects .div-project .div-project-content .right .right-content p {
    line-height: 1.3em;
    font-size: 15px;
  }
  /* line 1189, style.scss */
  .projects .div-project2 .div-project-content .mockup-project #project1 {
    padding-left: 90px;
  }
  /* line 1195, style.scss */
  .projects .div-project2 .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 1201, style.scss */
  .projects .div-project2 .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 1205, style.scss */
  .projects .div-project2 .div-project-content .right .right-content p {
    line-height: 1.3em;
    font-size: 15px;
  }
}
/*--------------------------------------------------------------------*/
@media screen and (max-width: 470px) {
  /* line 1222, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 110vh;
  }
  /* line 1225, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 440px) {
  /* line 1238, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 120vh;
  }
  /* line 1241, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 390px) {
  /* line 1254, style.scss */
  .a-propos-header .biographie {
    overflow-y: hidden;
    height: 130vh;
  }
  /* line 1257, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
    padding-left: 60px;
    padding-right: 10px;
  }
}
/*-----------------------------------------------------------------------*/
/* line 1267, style.scss */
.direct-contact-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 100%;
}
/* line 1274, style.scss */
.direct-contact-container h2 {
  font-size: 50px;
  font-family: 'Longline Quart FREE';
  color: #D47964;
  text-align: center;
  margin-top: 10px;
}
/* line 1282, style.scss */
.direct-contact-container .underline-title {
  width: 80px;
  height: 3px;
  background-color: #D47964;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* Location, Phone, Email Section */
/* line 1295, style.scss */
.contact-list {
  list-style-type: none;
  margin-left: 30px;
  padding-right: 20px;
}

/* line 1301, style.scss */
.list-item {
  line-height: 4;
}
/* line 1303, style.scss */
.list-item svg {
  height: 30px;
  fill: #D47964;
}

/* line 1309, style.scss */
.list-item:hover svg {
  fill: black;
}

/* line 1314, style.scss */
.contact-text {
  letter-spacing: 1.9px;
  color: #D47964;
}

/* line 1319, style.scss */
.place {
  margin-left: 62px;
}

/* line 1323, style.scss */
.phone {
  margin-left: 56px;
}

/* line 1327, style.scss */
.gmail {
  margin-left: 53px;
}

/* line 1331, style.scss */
.contact-text a {
  color: #D47964;
  text-decoration: none;
  transition-duration: 0.2s;
}

/* line 1337, style.scss */
.contact-text a:hover {
  color: black;
  text-decoration: none;
}

/* line 1343, style.scss */
.contact-icon svg {
  padding: 15px;
  fill: white;
}

/* Social Media Icons */
/* line 1351, style.scss */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 1362, style.scss */
.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #D47964;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

/* line 1375, style.scss */
.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px black;
  transition: all .2s ease-in-out;
}

/* line 1389, style.scss */
.social-media-list li:hover {
  background-color: black;
}

/* line 1393, style.scss */
.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

/* line 1399, style.scss */
.social-media-list a {
  color: white;
}

/* line 1404, style.scss */
hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/*-------------FOOTER------------------*/
/* line 1409, style.scss */
.portfolio-footer {
  background-image: url(../img/fond-footer.png);
  height: 219px;
  margin-top: 100px;
  margin-bottom: -130px;
}

/* line 1417, style.scss */
.footer {
  background-color: #E4B8AB;
}
/* line 1420, style.scss */
.footer .footer-content {
  padding-bottom: 50px;
  padding-top: 0px;
  padding-left: 100px;
  padding-right: 100px;
}
/* line 1427, style.scss */
.footer .footer-content .footer1 {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 1434, style.scss */
.footer .footer-content .footer1 .logo-footer .logo {
  height: 15vh;
}
/* line 1441, style.scss */
.footer .footer-content .footer1 .menu-footer {
  display: flex;
}
/* line 1444, style.scss */
.footer .footer-content .footer1 .menu-footer a {
  color: #D47964;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 76px 53px;
  font-size: 14px;
  font-weight: 600;
}
/* line 1454, style.scss */
.footer .footer-content .footer1 .menu-footer a:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  /* line 1471, style.scss */
  .footer .footer-content .footer1 {
    flex-direction: column;
  }
  /* line 1476, style.scss */
  .footer .footer-content .footer1 .menu-footer .text-menu {
    padding: 32px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 611px) {
  /* line 1492, style.scss */
  .footer .footer-content .footer1 .menu-footer {
    flex-direction: column;
  }
  /* line 1495, style.scss */
  .footer .footer-content .footer1 .menu-footer a {
    padding: 30px;
  }
}
