@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "compass/css3";

@font-face {
    font-family: 'Longline Quart FREE';
    src: url('../fonts/Longline-Quart-Display-Font/LonglineQuartFREE.woff') format('woff'),
        url('../fonts/Longline-Quart-Display-Font/Longline\ Quart\ FREE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ----------------------- Variables ----------------------- */

$color1 : white;
$color2:black;
$color3 :#E4B8AB;
$color4:#D47964;
$superposition1:rgba(184, 148, 137, 0.8);
$superposition2 :rgba(255, 255, 255, 0.8);
$padding :150px;

/* ----------------------- BODY ----------------------- */
body {
    font-family: 'Poppins', sans-serif !important;
    // cursor: url(../img/circle.png), auto;
    overflow-x: hidden;

}

/* ----------------------- TOPNAV ----------------------- */
// .topnav {
//     background-color: $color3;
//     overflow: hidden;
//     flex-direction: row;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;

//     a {
//         color: $color1;
//         text-align: center;
//         padding: 24px 14px;
//         text-decoration: none;
//         font-size: 17px;
//         display: flex;

//         &:hover {
//             color: $color4;
//             text-decoration: underline;
//         }

//     }

//     #logo-header {
//         height: 80px;
//     }
// }

.topnav {
    flex-direction: row;
    background-color: $color3;
    display: flex;
    justify-content: space-between;
    height: 20vh;

    .img-logo {
        display: flex;
        align-items: center;
        height:100%;
        padding:30px 0px;
    }

    #burger-menu {
        display: none;

    }

    #burger-icon {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
  

        .box-menu {
            display: flex;

            .text-menu {
                padding: 56px 33px;

                a {
                    color: $color4;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 20px;
                }

                a:hover {
                    background-color: $color4;
                    color:$color3;
                }

                
            }


        }
    }

}

@media screen and (max-width: 958px) {

    //menu
    .topnav {
        .menu {
            label {
                display: block;
            }

            .box-menu {
                display: block;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: fixed;
                width: 270px;
                top: 0%;
                right: 0%;
                height: 651px;
                z-index: 2;
                background-color: white;
                transform: translateX(100%);

                .text-menu {
                    justify-content: center;
                    display: flex;
                    padding: 52px 0px;
                }
            }
        }
    }

    .menu #burger-icon {
        display: block;
        font-size: 40px;
        position: fixed;
        top: 1%;
        right: 3%;
        z-index: 3;

        &:hover {
            cursor: pointer;
        }

    }

    #burger-menu:checked {
        ~.box-menu {
            transform: translate(0);
        }
    }
}
/*-------------------APPARITION----------------------*/
.apparition {
    
    -ms-flex-item-align: end;
    align-self: flex-end;
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    overflow: hidden;
    -webkit-transition: opacity 0.5s,-webkit-transform 0.7s;
    transition: opacity 0.5s,-webkit-transform 0.7s;
    -o-transition: opacity 0.5s,transform 0.7s;
    transition: opacity 0.5s,transform 0.7s;
    transition: opacity 0.5s,transform 0.7s,-webkit-transform 0.7s;
    margin-bottom: 20px;

}
.apparition.animated{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
/* ----------------------- Header ----------------------- */
.portfolio-header {
    background-image: url(../img/fond-header-autre.png);
    height: 150px;
    margin-top: -4px;

}

/* ----------------------- Page d'accueil ----------------------- */
.home-header {
    background-image: url(../img/fond-header.png);
    height: 627px;
    margin-top: -4px;
    padding-left: $padding;
    padding-right: $padding;


    h1 {
        font-size: 70px;
        color: $color4;
        padding-top: 220px;
        font-family: 'Longline Quart FREE';
        overflow: hidden;
    }

}

/*Presentation*/
.home-presentation {

    // height: 100vh;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: 260px;
    padding-bottom: 260px;



    h2 {
        font-size: 40px;
        color: $color4;
        text-align: center;
    }

    .div-title-hover-effect {
        display: grid;
        place-content: center;

        .title-hover-effect {
            position: relative;

            &:hover {
                color: $color1;
                transition: transform .6s ease;
            }

            &::before {
                transform: scaleX(0);
                transform-origin: bottom right;
            }

            &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            &::before {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                inset: 0 0 0 0;
                background: $color4;
                z-index: -1;
                transition: transform .6s ease;
            }
        }
    }

    p {
        text-align: center;
        line-height: 1.8em;
        font-size: 20px;
    }

    .portfolio-button {
        display: block;
        margin: auto;
        border-radius: 10px;
        text-align: center;
        background-color: white;
        color: $color4;
        border-color: $color4;
        margin-top: 20px;
        padding: 10px;
        text-transform: uppercase;
        // cursor: url(../img/circle.png), pointer;

        &:hover {
            background-color: $color4;
            color: white;
            transition: 0.5s;

        }

    }
}

/* ----------------------- Page a propos ----------------------- */

.a-propos-header{
    overflow-x: hidden;

    .biographie {
        background-color: $color3;
        height: 70vh;
        position: relative;
        width: calc(100% + 70px);
        margin: -50px 0 100px -50px;
        padding: 0 50px 0 0;
        transform: rotate(-3deg);

        h2 {
            transform: rotate(3deg);
            margin-left: 90px;
            color: $color4;
            justify-content: center;
            display: flex;
            font-size: 40px;
            font-family: 'Longline Quart FREE';


            &::after {
                content: "";
                background-color: $color4;
                width: 8%;
                margin-top: 55px;
                height: 3px;
                position: absolute;
            }
        }

        p {
            transform: rotate(3deg);
            margin: 50px auto;
            max-width: 85vw;
            padding-left: 80px;
            padding-right: 30px;
            font-size: 17px;
            color:white;
            line-height: 1.4em;
            font-weight: 400;
            text-align: center;

        }
    }
}

.title-line {
    color: $color4;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-family: 'Longline Quart FREE';


    &::after {
        content: "";
        background-color: $color4;
        width: 8%;
        margin-top: 55px;
        height: 3px;
        position: absolute;
    }

}

.timeline {
    margin: 50px auto;
    position: relative;
    max-width: 70vw;

    &:before {
        background-color: $color4;
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 2em;
        width: 2px;
        height: 100%;
    }
}

.timeline-event {
    position: relative;

    &:hover {

        .timeline-event-icon {
            @include rotate (-45deg);
            background-color: $color2;
        }

        .timeline-event-thumbnail {
            @include box-shadow(inset 40em 0 0 0 $color2);
        }
    }
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.2em;
        margin-bottom: 1.2em;
    }

    strong {
        font-weight: 700;
    }

    p:not(.timeline-event-thumbnail) {
        padding-bottom: 1.2em;
    }
}

.timeline-event-icon {
    @include transition(transform 0.2s ease-in);
    @include rotate (45deg);

    background-color: $color4;
    outline: 10px solid $color1;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    @include transition(box-shadow 0.5s ease-in 0.1s);
    color: $color1;
    font-size: 0.75em;

    background-color: $color4;
    @include box-shadow(inset 0 0 0 0em #ef795a);
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}


/* ----------------------- Projets ----------------------- */

.projects {
    overflow: hidden;

    h2 {
        font-size: 50px;
        font-family: 'Longline Quart FREE';
        color: $color4;
        text-align: center;
        margin-top: 10px;
    }

    .underline-title {
        width: 80px;
        height: 3px;
        background-color: $color4;
        display: block;
        margin: auto;
        margin-bottom: 20px;

    }

    /*Projet 1*/
    .div-project {
        background-color: $color3;
        position: relative;
        height: 85vh;
        width: calc(100% + 70px);
        margin: 0 0 0 -50px;
        padding: 0 50px 0 0;
        transform: rotate(-3deg);

        .div-project-content {
            width: 100%;

            .mockup-project {
                display: flex;
                justify-content: center;

                #project1 {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    height: 90%;
                    transform: rotate(3deg);
                    margin: auto;
                    padding-left: 50px;
                }
            }

            .right {

                background-color: $superposition1;
                height: 100%;
                width: 50%;
                display: flex;
                right: 0;
                position: absolute;
                flex-direction: column;
                z-index: 2;

                .right-content {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 150px;
                    margin-right: 150px;
                    transform: rotate(3deg);


                    h3 {
                        color: white;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 2em;
                    }

                    p {
                        line-height: 1.5em;
                        color: white;
                        text-align: center;
                    }

                    .portfolio-button {
                        display: block;
                        margin: auto;
                        border-radius: 10px;
                        text-align: center;
                        background-color: transparent;
                        color: white;
                        border-width: 2px;
                        border-color: white;
                        margin-top: 20px;
                        padding: 10px;
                        text-transform: uppercase;
                        // cursor: url(../img/circle.png), pointer;

                        &:hover {
                            background-color: white;
                            color: $color4;
                            transition: 0.5s;

                        }
                    }


                }

            }
        }

    }

    /*Projet2*/
    .div-project2 {
        background-color: white;
        position: relative;
        height: 85vh;
        width: calc(100% + 50px);
        margin: 0 0 0 -50px;
        padding: 0 50px 0 0;
        transform: rotate(-3deg);

        .div-project-content {
            width: 100%;

            .mockup-project {
                display: flex;
                justify-content: center;

                #project1 {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    height: 90%;
                    transform: rotate(3deg);
                    margin: auto;
                    padding-left: 50px;
                }
            }

            .right {

                background-color: $superposition2;
                height: 100%;
                width: 50%;
                display: flex;
                right: 0;
                position: absolute;
                flex-direction: column;
                z-index: 2;

                .right-content {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 150px;
                    margin-right: 150px;
                    transform: rotate(3deg);


                    h3 {
                        color: black;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 2em;
                    }

                    p {
                        line-height: 1.5em;
                        color: black;
                        text-align: center;
                    }

                    .portfolio-button {
                        display: block;
                        margin: auto;
                        border-radius: 10px;
                        text-align: center;
                        background-color: transparent;
                        color: black;
                        border-width: 2px;
                        border-color: black;
                        margin-top: 20px;
                        padding: 10px;
                        text-transform: uppercase;
                        // cursor: url(../img/circle.png), pointer;

                        &:hover {
                            background-color: black;
                            color: white;
                            transition: 0.5s;

                        }
                    }


                }

            }
        }


    }
}


/* ----------------------- Page project seul ----------------------- */

.project-header{

    overflow: hidden;

    .project-indiv-header {
        background-color: $color3;
        height: 85vh;
        position: relative;
        width: calc(100% + 70px);
        margin: -50px 0 0 -50px;
        padding: 0 50px 0 0;
        transform: rotate(-3deg);

        .content-project-indiv-header {
            position: absolute;
            width: 100%;
            transform: rotate(3deg);

            .mockup-project {
                display: flex;
                justify-content: center;
                height: 600px;
            }

            .title-line {
                color: $color4;
                justify-content: center;
                display: flex;
                font-size: 50px;
                font-family: 'Longline Quart FREE';


                &::after {
                    content: "";
                    background-color: $color4;
                    width: 15%;
                    margin-top: 60px;
                    height: 4px;
                    position: absolute;
                }
            }

        }
    }

}

.content-project-indiv {
    padding-right: $padding;
    padding-left: $padding;
    margin-top: 150px;

    h2 {
        color: $color4;
        justify-content: center;
        display: flex;
        font-size: 30px;
        font-family: 'Longline Quart FREE';


        &::after {
            content: "";
            background-color: $color4;
            width: 15%;
            margin-top: 40px;
            height: 3px;
            position: absolute;
        }
    }

    p {
        margin-top: 50px;
        margin-bottom: 130px;
        text-align: center;
        line-height: 1.4em;
    }

    .video{
        display: flex;
        justify-content: center;
    }
}

/* ----------------------- ----------------------- ----------------------- */
@media screen and (max-width: 1280px){
    .a-propos-header{
        .biographie{
            height:80vh;
        }
    }
}

// @media screen and (max-width: 1280px){
//     .a-propos-header{
//         .biographie{
//             height:90vh;
//         }
//     }
// }
@media screen and (max-width: 980px) {
    .projects 
    .div-project{
        .div-project-content{
            .right{
                .right-content{
                    margin-left: 50px;
                    margin-right: 50px;
                }
            } 
        }
    } 

    .projects 
    .div-project2{
        .div-project-content{
            .right{
                .right-content{
                    margin-left: 50px;
                    margin-right: 50px;
                }
            } 
        }
    }
    
    .a-propos-header{
        .portfolio-header{
            height: 103px;
        }
    }
}

@media screen and (max-width: 780px) {

    $padding: 40px;

    .home-header {
        padding-left: $padding;
        padding-right: $padding;

        h1 {
            font-size: 55px;
        }
    }

    .home-presentation {

        padding-left: $padding;
        padding-right: $padding;
        padding-top: 100px;
        padding-bottom: 160px;

        .div-title-hover-effect {
            h2 {
                font-size: 40px;
            }
        }

        p {
            line-height: 1.4em;
            font-size: 16px;
        }
    }

    .a-propos-header{
        .biographie{
            height:80vh;
        } 
    }

    .projects {

        .div-project {
            height: 105vh;

            .div-project-content {

                .mockup-project {

                    #project1 {
                        height: 65%;
                        margin-top: 100px;
                    }
                }

                .right {

                    height: 50%;
                    width: 100%;
                    bottom: 0px;

                    .right-content {
                        margin-left: 60px;
                        margin-right: 60px;

                        p {
                            line-height: 1.3em;
                        }
                    }

                }
            }

        }

        .div-project2 {
            height: 105vh;

            .div-project-content {

                .mockup-project {

                    #project1 {
                        height: 65%;
                        margin-top: 100px;
                    }
                }

                .right {

                    height: 50%;
                    width: 100%;
                    bottom: 0px;

                    .right-content {
                        margin-left: 60px;
                        margin-right: 60px;

                        p {
                            line-height: 1.3em;
                        }
                    }

                }
            }

        }
    }



}

@media screen and (max-width: 685px) {
  height :100vh;
}

@media screen and (max-width: 650px) {
    .a-propos-header{
        .biographie{
            p{
                font-size: 15px;
            }
        } 
    }

    .projects {

        .div-project {
            .div-project-content {
                .mockup-project {
                    #project1 {
                        height: 58%;
                        margin-top: 150px;
                    }
                }
            }
        }

        .div-project2 {
            .div-project-content {
                .mockup-project {
                    #project1 {
                        height: 58%;
                        margin-top:150px;
                    }
                }
            }
        }
    }
}
/*--------------------------------------------------------------------*/
@media screen and (max-width: 540px) {

    $padding: 20px;

    .home-header {
        padding-left: $padding;
        padding-right: $padding;

        h1 {
            font-size: 45px;
        }
    }

    .a-propos-header{
        .biographie{
            // height:100vh;
            p{
                // font-size: 13px;
                padding-left:50px;
                padding-right:0;
            }
            
        } 
    }

    .projects {

        .div-project {

            .div-project-content {

                .mockup-project {

                    #project1 {
                        height: 68%;
                    }
                }

                .right {

                    height: 50%;
                    width: 100%;
                    bottom: 0px;

                    .right-content {
                        margin-left: 60px;
                        margin-right: 60px;

                        p {
                            line-height: 1.3em;
                            font-size: 15px;
                        }
                    }

                }
            }

        }

        .div-project2 {

            .div-project-content {

                .mockup-project {

                    #project1 {
                        height: 68%;
                    }
                }

                .right {

                    height: 50%;
                    width: 100%;
                    bottom: 0px;

                    .right-content {
                        margin-left: 60px;
                        margin-right: 60px;

                        p {
                            line-height: 1.3em;
                            font-size: 15px;
                        }
                    }

                }
            }

        }
    }
}

/*--------------------------------------------------------------------*/
@media screen and (max-width: 470px) {

    .a-propos-header{
        .biographie{
            // height:100vh;
            p{
                 font-size: 14px;
            }
            
        } 
    }
}