@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Longline Quart FREE';
  src: url("../fonts/Longline-Quart-Display-Font/LonglineQuartFREE.woff") format("woff"), url("../fonts/Longline-Quart-Display-Font/Longline Quart FREE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ----------------------- Variables ----------------------- */
/* ----------------------- BODY ----------------------- */
/* line 24, style.scss */
body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

/* ----------------------- TOPNAV ----------------------- */
/* line 60, style.scss */
.topnav {
  flex-direction: row;
  background-color: #E4B8AB;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}
/* line 67, style.scss */
.topnav .img-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 30px 0px;
}
/* line 74, style.scss */
.topnav #burger-menu {
  display: none;
}
/* line 79, style.scss */
.topnav #burger-icon {
  display: none;
}
/* line 83, style.scss */
.topnav .menu {
  display: flex;
  align-items: center;
}
/* line 88, style.scss */
.topnav .menu .box-menu {
  display: flex;
}
/* line 91, style.scss */
.topnav .menu .box-menu .text-menu {
  padding: 56px 33px;
}
/* line 94, style.scss */
.topnav .menu .box-menu .text-menu a {
  color: #D47964;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}
/* line 104, style.scss */
.topnav .menu .box-menu .text-menu a:hover {
  background-color: #D47964;
  color: #E4B8AB;
}

@media screen and (max-width: 958px) {
  /* line 123, style.scss */
  .topnav .menu label {
    display: block;
  }
  /* line 127, style.scss */
  .topnav .menu .box-menu {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 270px;
    top: 0%;
    right: 0%;
    height: 651px;
    z-index: 2;
    background-color: white;
    transform: translateX(100%);
  }
  /* line 141, style.scss */
  .topnav .menu .box-menu .text-menu {
    justify-content: center;
    display: flex;
    padding: 52px 0px;
  }

  /* line 150, style.scss */
  .menu #burger-icon {
    display: block;
    font-size: 40px;
    position: fixed;
    top: 1%;
    right: 3%;
    z-index: 3;
  }
  /* line 158, style.scss */
  .menu #burger-icon:hover {
    cursor: pointer;
  }

  /* line 165, style.scss */
  #burger-menu:checked ~ .box-menu {
    transform: translate(0);
  }
}
/*-------------------APPARITION----------------------*/
/* line 171, style.scss */
.apparition {
  -ms-flex-item-align: end;
  align-self: flex-end;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  overflow: hidden;
  -webkit-transition: opacity 0.5s,-webkit-transform 0.7s;
  transition: opacity 0.5s,-webkit-transform 0.7s;
  -o-transition: opacity 0.5s,transform 0.7s;
  transition: opacity 0.5s,transform 0.7s;
  transition: opacity 0.5s,transform 0.7s,-webkit-transform 0.7s;
  margin-bottom: 20px;
}

/* line 188, style.scss */
.apparition.animated {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* ----------------------- Header ----------------------- */
/* line 195, style.scss */
.portfolio-header {
  background-image: url(../img/fond-header-autre.png);
  height: 150px;
  margin-top: -4px;
}

/* ----------------------- Page d'accueil ----------------------- */
/* line 203, style.scss */
.home-header {
  background-image: url(../img/fond-header.png);
  height: 627px;
  margin-top: -4px;
  padding-left: 150px;
  padding-right: 150px;
}
/* line 211, style.scss */
.home-header h1 {
  font-size: 70px;
  color: #D47964;
  padding-top: 220px;
  font-family: 'Longline Quart FREE';
  overflow: hidden;
}

/*Presentation*/
/* line 222, style.scss */
.home-presentation {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 260px;
  padding-bottom: 260px;
}
/* line 232, style.scss */
.home-presentation h2 {
  font-size: 40px;
  color: #D47964;
  text-align: center;
}
/* line 238, style.scss */
.home-presentation .div-title-hover-effect {
  display: grid;
  place-content: center;
}
/* line 242, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect {
  position: relative;
}
/* line 245, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect:hover {
  color: white;
  transition: transform .6s ease;
}
/* line 250, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
/* line 255, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* line 260, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #D47964;
  z-index: -1;
  transition: transform .6s ease;
}
/* line 276, style.scss */
.home-presentation p {
  text-align: center;
  line-height: 1.8em;
  font-size: 20px;
}
/* line 282, style.scss */
.home-presentation .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #D47964;
  border-color: #D47964;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 295, style.scss */
.home-presentation .portfolio-button:hover {
  background-color: #D47964;
  color: white;
  transition: 0.5s;
}

/* ----------------------- Page a propos ----------------------- */
/* line 307, style.scss */
.a-propos-header {
  overflow-x: hidden;
}
/* line 310, style.scss */
.a-propos-header .biographie {
  background-color: #E4B8AB;
  height: 70vh;
  position: relative;
  width: calc(100% + 70px);
  margin: -50px 0 100px -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 319, style.scss */
.a-propos-header .biographie h2 {
  transform: rotate(3deg);
  margin-left: 90px;
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: 'Longline Quart FREE';
}
/* line 329, style.scss */
.a-propos-header .biographie h2::after {
  content: "";
  background-color: #D47964;
  width: 8%;
  margin-top: 55px;
  height: 3px;
  position: absolute;
}
/* line 339, style.scss */
.a-propos-header .biographie p {
  transform: rotate(3deg);
  margin: 50px auto;
  max-width: 85vw;
  padding-left: 80px;
  padding-right: 30px;
  font-size: 17px;
  color: white;
  line-height: 1.4em;
  font-weight: 400;
  text-align: center;
}

/* line 355, style.scss */
.title-line {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: 'Longline Quart FREE';
}
/* line 363, style.scss */
.title-line::after {
  content: "";
  background-color: #D47964;
  width: 8%;
  margin-top: 55px;
  height: 3px;
  position: absolute;
}

/* line 374, style.scss */
.timeline {
  margin: 50px auto;
  position: relative;
  max-width: 70vw;
}
/* line 379, style.scss */
.timeline:before {
  background-color: #D47964;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

/* line 391, style.scss */
.timeline-event {
  position: relative;
}
/* line 396, style.scss */
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: black;
}
/* line 401, style.scss */
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 black;
  -webkit-box-shadow: inset 40em 0 0 0 black;
  box-shadow: inset 40em 0 0 0 black;
}

/* line 407, style.scss */
.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
}
/* line 413, style.scss */
.timeline-event-copy h3 {
  font-size: 1.75em;
}
/* line 417, style.scss */
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
/* line 422, style.scss */
.timeline-event-copy strong {
  font-weight: 700;
}
/* line 426, style.scss */
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

/* line 431, style.scss */
.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #D47964;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

/* line 446, style.scss */
.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: #D47964;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

/* ----------------------- Projets ----------------------- */
/* line 461, style.scss */
.projects {
  overflow: hidden;
  /*Projet 1*/
  /*Projet2*/
}
/* line 464, style.scss */
.projects h2 {
  font-size: 50px;
  font-family: 'Longline Quart FREE';
  color: #D47964;
  text-align: center;
  margin-top: 10px;
}
/* line 472, style.scss */
.projects .underline-title {
  width: 80px;
  height: 3px;
  background-color: #D47964;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
/* line 483, style.scss */
.projects .div-project {
  background-color: #E4B8AB;
  position: relative;
  height: 85vh;
  width: calc(100% + 70px);
  margin: 0 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 492, style.scss */
.projects .div-project .div-project-content {
  width: 100%;
}
/* line 495, style.scss */
.projects .div-project .div-project-content .mockup-project {
  display: flex;
  justify-content: center;
}
/* line 499, style.scss */
.projects .div-project .div-project-content .mockup-project #project1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 90%;
  transform: rotate(3deg);
  margin: auto;
  padding-left: 50px;
}
/* line 510, style.scss */
.projects .div-project .div-project-content .right {
  background-color: rgba(184, 148, 137, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
/* line 521, style.scss */
.projects .div-project .div-project-content .right .right-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(3deg);
}
/* line 529, style.scss */
.projects .div-project .div-project-content .right .right-content h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
}
/* line 538, style.scss */
.projects .div-project .div-project-content .right .right-content p {
  line-height: 1.5em;
  color: white;
  text-align: center;
}
/* line 544, style.scss */
.projects .div-project .div-project-content .right .right-content .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-width: 2px;
  border-color: white;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 558, style.scss */
.projects .div-project .div-project-content .right .right-content .portfolio-button:hover {
  background-color: white;
  color: #D47964;
  transition: 0.5s;
}
/* line 575, style.scss */
.projects .div-project2 {
  background-color: white;
  position: relative;
  height: 85vh;
  width: calc(100% + 50px);
  margin: 0 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 584, style.scss */
.projects .div-project2 .div-project-content {
  width: 100%;
}
/* line 587, style.scss */
.projects .div-project2 .div-project-content .mockup-project {
  display: flex;
  justify-content: center;
}
/* line 591, style.scss */
.projects .div-project2 .div-project-content .mockup-project #project1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 90%;
  transform: rotate(3deg);
  margin: auto;
  padding-left: 50px;
}
/* line 602, style.scss */
.projects .div-project2 .div-project-content .right {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
/* line 613, style.scss */
.projects .div-project2 .div-project-content .right .right-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(3deg);
}
/* line 621, style.scss */
.projects .div-project2 .div-project-content .right .right-content h3 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
}
/* line 630, style.scss */
.projects .div-project2 .div-project-content .right .right-content p {
  line-height: 1.5em;
  color: black;
  text-align: center;
}
/* line 636, style.scss */
.projects .div-project2 .div-project-content .right .right-content .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: black;
  border-width: 2px;
  border-color: black;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 650, style.scss */
.projects .div-project2 .div-project-content .right .right-content .portfolio-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

/* ----------------------- Page project seul ----------------------- */
/* line 671, style.scss */
.project-header {
  overflow: hidden;
}
/* line 675, style.scss */
.project-header .project-indiv-header {
  background-color: #E4B8AB;
  height: 85vh;
  position: relative;
  width: calc(100% + 70px);
  margin: -50px 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 684, style.scss */
.project-header .project-indiv-header .content-project-indiv-header {
  position: absolute;
  width: 100%;
  transform: rotate(3deg);
}
/* line 689, style.scss */
.project-header .project-indiv-header .content-project-indiv-header .mockup-project {
  display: flex;
  justify-content: center;
  height: 600px;
}
/* line 695, style.scss */
.project-header .project-indiv-header .content-project-indiv-header .title-line {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-family: 'Longline Quart FREE';
}
/* line 703, style.scss */
.project-header .project-indiv-header .content-project-indiv-header .title-line::after {
  content: "";
  background-color: #D47964;
  width: 15%;
  margin-top: 60px;
  height: 4px;
  position: absolute;
}

/* line 718, style.scss */
.content-project-indiv {
  padding-right: 150px;
  padding-left: 150px;
  margin-top: 150px;
}
/* line 723, style.scss */
.content-project-indiv h2 {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-family: 'Longline Quart FREE';
}
/* line 731, style.scss */
.content-project-indiv h2::after {
  content: "";
  background-color: #D47964;
  width: 15%;
  margin-top: 40px;
  height: 3px;
  position: absolute;
}
/* line 741, style.scss */
.content-project-indiv p {
  margin-top: 50px;
  margin-bottom: 130px;
  text-align: center;
  line-height: 1.4em;
}
/* line 748, style.scss */
.content-project-indiv .video {
  display: flex;
  justify-content: center;
}

/* ----------------------- ----------------------- ----------------------- */
@media screen and (max-width: 1280px) {
  /* line 757, style.scss */
  .a-propos-header .biographie {
    height: 80vh;
  }
}
@media screen and (max-width: 980px) {
  /* line 775, style.scss */
  .projects
  .div-project .div-project-content .right .right-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* line 787, style.scss */
  .projects
  .div-project2 .div-project-content .right .right-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  /* line 796, style.scss */
  .a-propos-header .portfolio-header {
    height: 103px;
  }
}
@media screen and (max-width: 780px) {
  /* line 806, style.scss */
  .home-header {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 810, style.scss */
  .home-header h1 {
    font-size: 55px;
  }

  /* line 815, style.scss */
  .home-presentation {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 160px;
  }
  /* line 823, style.scss */
  .home-presentation .div-title-hover-effect h2 {
    font-size: 40px;
  }
  /* line 828, style.scss */
  .home-presentation p {
    line-height: 1.4em;
    font-size: 16px;
  }

  /* line 835, style.scss */
  .a-propos-header .biographie {
    height: 80vh;
  }

  /* line 842, style.scss */
  .projects .div-project {
    height: 105vh;
  }
  /* line 849, style.scss */
  .projects .div-project .div-project-content .mockup-project #project1 {
    height: 65%;
    margin-top: 100px;
  }
  /* line 855, style.scss */
  .projects .div-project .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 861, style.scss */
  .projects .div-project .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 865, style.scss */
  .projects .div-project .div-project-content .right .right-content p {
    line-height: 1.3em;
  }
  /* line 875, style.scss */
  .projects .div-project2 {
    height: 105vh;
  }
  /* line 882, style.scss */
  .projects .div-project2 .div-project-content .mockup-project #project1 {
    height: 65%;
    margin-top: 100px;
  }
  /* line 888, style.scss */
  .projects .div-project2 .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 894, style.scss */
  .projects .div-project2 .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 898, style.scss */
  .projects .div-project2 .div-project-content .right .right-content p {
    line-height: 1.3em;
  }
}
@media screen and (max-width: 685px) {
  height: 100vh;
}
@media screen and (max-width: 650px) {
  /* line 920, style.scss */
  .a-propos-header .biographie p {
    font-size: 15px;
  }

  /* line 931, style.scss */
  .projects .div-project .div-project-content .mockup-project #project1 {
    height: 58%;
    margin-top: 150px;
  }
  /* line 942, style.scss */
  .projects .div-project2 .div-project-content .mockup-project #project1 {
    height: 58%;
    margin-top: 150px;
  }
}
/*--------------------------------------------------------------------*/
@media screen and (max-width: 540px) {
  /* line 956, style.scss */
  .home-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 960, style.scss */
  .home-header h1 {
    font-size: 45px;
  }

  /* line 968, style.scss */
  .a-propos-header .biographie p {
    padding-left: 50px;
    padding-right: 0;
  }

  /* line 985, style.scss */
  .projects .div-project .div-project-content .mockup-project #project1 {
    height: 68%;
  }
  /* line 990, style.scss */
  .projects .div-project .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 996, style.scss */
  .projects .div-project .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 1000, style.scss */
  .projects .div-project .div-project-content .right .right-content p {
    line-height: 1.3em;
    font-size: 15px;
  }
  /* line 1017, style.scss */
  .projects .div-project2 .div-project-content .mockup-project #project1 {
    height: 68%;
  }
  /* line 1022, style.scss */
  .projects .div-project2 .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
  /* line 1028, style.scss */
  .projects .div-project2 .div-project-content .right .right-content {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* line 1032, style.scss */
  .projects .div-project2 .div-project-content .right .right-content p {
    line-height: 1.3em;
    font-size: 15px;
  }
}
/*--------------------------------------------------------------------*/
@media screen and (max-width: 470px) {
  /* line 1051, style.scss */
  .a-propos-header .biographie p {
    font-size: 14px;
  }
}
