@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Longline Quart FREE';
  src: url("../fonts/Longline-Quart-Display-Font/LonglineQuartFREE.woff") format("woff"), url("../fonts/Longline-Quart-Display-Font/Longline Quart FREE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ----------------------- Variables ----------------------- */
/* ----------------------- BODY ----------------------- */
/* line 25, style.scss */
body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

/* ----------------------- TOPNAV ----------------------- */
/* line 33, style.scss */
.topnav {
  background-color: #E4B8AB;
  overflow: hidden;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 41, style.scss */
.topnav a {
  color: white;
  text-align: center;
  padding: 24px 14px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
}
/* line 49, style.scss */
.topnav a:hover {
  color: #D47964;
  text-decoration: underline;
}
/* line 56, style.scss */
.topnav #logo-header {
  height: 80px;
}

/* ----------------------- Header ----------------------- */
/* line 63, style.scss */
.portfolio-header {
  background-image: url(../img/fond-header-autre.png);
  height: 203px;
  margin-top: -4px;
}

/* ----------------------- Page d'accueil ----------------------- */
/* line 71, style.scss */
.home-header {
  background-image: url(../img/fond-header.png);
  height: 627px;
  margin-top: -4px;
  padding-left: 150px;
  padding-right: 150px;
}
/* line 79, style.scss */
.home-header h1 {
  font-size: 70px;
  color: #D47964;
  padding-top: 220px;
  font-family: 'Longline Quart FREE';
}

/*Presentation*/
/* line 89, style.scss */
.home-presentation {
  height: 600px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 260px;
}
/* line 98, style.scss */
.home-presentation h2 {
  font-size: 40px;
  color: #D47964;
  text-align: center;
}
/* line 104, style.scss */
.home-presentation .div-title-hover-effect {
  display: grid;
  place-content: center;
}
/* line 107, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect {
  position: relative;
}
/* line 110, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect:hover {
  color: white;
  transition: transform .6s ease;
}
/* line 115, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
/* line 120, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* line 125, style.scss */
.home-presentation .div-title-hover-effect .title-hover-effect::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #D47964;
  z-index: -1;
  transition: transform .6s ease;
}
/* line 138, style.scss */
.home-presentation p {
  text-align: center;
  line-height: 1.8em;
  font-size: 20px;
}
/* line 144, style.scss */
.home-presentation .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #D47964;
  border-color: #D47964;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 157, style.scss */
.home-presentation .portfolio-button:hover {
  background-color: #D47964;
  color: white;
  transition: 0.5s;
}

/* ----------------------- Page a propos ----------------------- */
/* line 172, style.scss */
.biographie {
  background-color: #E4B8AB;
  height: 60vh;
  position: relative;
  width: calc(100% + 70px);
  margin: -50px 0 100px -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 181, style.scss */
.biographie h2 {
  transform: rotate(3deg);
  margin-left: 30px;
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: 'Longline Quart FREE';
}
/* line 191, style.scss */
.biographie h2::after {
  content: "";
  background-color: #D47964;
  width: 8%;
  margin-top: 55px;
  height: 3px;
  position: absolute;
}
/* line 201, style.scss */
.biographie p {
  transform: rotate(3deg);
  margin: 50px;
  padding-left: 150px;
  padding-right: 80px;
  font-size: 17px;
}

/* line 211, style.scss */
.title-line {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: 'Longline Quart FREE';
}
/* line 219, style.scss */
.title-line::after {
  content: "";
  background-color: #D47964;
  width: 8%;
  margin-top: 55px;
  height: 3px;
  position: absolute;
}

/* line 230, style.scss */
.timeline {
  margin: 50px auto;
  position: relative;
  max-width: 80em;
}
/* line 235, style.scss */
.timeline:before {
  background-color: #D47964;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

/* line 247, style.scss */
.timeline-event {
  position: relative;
}
/* line 252, style.scss */
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: black;
}
/* line 257, style.scss */
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 black;
  -webkit-box-shadow: inset 40em 0 0 0 black;
  box-shadow: inset 40em 0 0 0 black;
}

/* line 263, style.scss */
.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
}
/* line 269, style.scss */
.timeline-event-copy h3 {
  font-size: 1.75em;
}
/* line 273, style.scss */
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
/* line 278, style.scss */
.timeline-event-copy strong {
  font-weight: 700;
}
/* line 282, style.scss */
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

/* line 287, style.scss */
.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #D47964;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

/* line 302, style.scss */
.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: #D47964;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

/* ----------------------- Projets ----------------------- */
/* line 317, style.scss */
.projects {
  /*Projet 1*/
  /*Projet2*/
}
/* line 320, style.scss */
.projects h2 {
  font-size: 50px;
  font-family: 'Longline Quart FREE';
  color: #D47964;
  text-align: center;
  margin-top: 10px;
}
/* line 328, style.scss */
.projects .underline-title {
  width: 80px;
  height: 3px;
  background-color: #D47964;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
/* line 338, style.scss */
.projects .div-project {
  background-color: #E4B8AB;
  position: relative;
  height: 85vh;
  width: calc(100% + 70px);
  margin: 0 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 346, style.scss */
.projects .div-project .div-project-content {
  width: 100%;
}
/* line 348, style.scss */
.projects .div-project .div-project-content .mockup-project {
  display: flex;
  justify-content: center;
}
/* line 351, style.scss */
.projects .div-project .div-project-content .mockup-project #project1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 90%;
  transform: rotate(3deg);
  margin: auto;
}
/* line 360, style.scss */
.projects .div-project .div-project-content .right {
  background-color: rgba(184, 148, 137, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
/* line 371, style.scss */
.projects .div-project .div-project-content .right .right-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(3deg);
}
/* line 379, style.scss */
.projects .div-project .div-project-content .right .right-content h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
}
/* line 388, style.scss */
.projects .div-project .div-project-content .right .right-content p {
  line-height: 1.5em;
  color: white;
  text-align: center;
}
/* line 394, style.scss */
.projects .div-project .div-project-content .right .right-content .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-width: 2px;
  border-color: white;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 408, style.scss */
.projects .div-project .div-project-content .right .right-content .portfolio-button:hover {
  background-color: white;
  color: #D47964;
  transition: 0.5s;
}
/* line 424, style.scss */
.projects .div-project2 {
  background-color: white;
  position: relative;
  height: 85vh;
  width: calc(100% + 50px);
  margin: 0 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 432, style.scss */
.projects .div-project2 .div-project-content {
  width: 100%;
}
/* line 434, style.scss */
.projects .div-project2 .div-project-content .mockup-project {
  display: flex;
  justify-content: center;
}
/* line 437, style.scss */
.projects .div-project2 .div-project-content .mockup-project #project1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 90%;
  transform: rotate(3deg);
  margin: auto;
}
/* line 446, style.scss */
.projects .div-project2 .div-project-content .right {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 50%;
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  z-index: 2;
}
/* line 457, style.scss */
.projects .div-project2 .div-project-content .right .right-content {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(3deg);
}
/* line 465, style.scss */
.projects .div-project2 .div-project-content .right .right-content h3 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
}
/* line 474, style.scss */
.projects .div-project2 .div-project-content .right .right-content p {
  line-height: 1.5em;
  color: black;
  text-align: center;
}
/* line 480, style.scss */
.projects .div-project2 .div-project-content .right .right-content .portfolio-button {
  display: block;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: black;
  border-width: 2px;
  border-color: black;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
}
/* line 494, style.scss */
.projects .div-project2 .div-project-content .right .right-content .portfolio-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

/* ----------------------- Page project seul ----------------------- */
/* line 515, style.scss */
.project-indiv-header {
  background-color: #E4B8AB;
  height: 85vh;
  position: relative;
  width: calc(100% + 70px);
  margin: -50px 0 0 -50px;
  padding: 0 50px 0 0;
  transform: rotate(-3deg);
}
/* line 524, style.scss */
.project-indiv-header .content-project-indiv-header {
  position: absolute;
  width: 100%;
  transform: rotate(3deg);
}
/* line 529, style.scss */
.project-indiv-header .content-project-indiv-header .mockup-project {
  display: flex;
  justify-content: center;
  height: 600px;
}
/* line 534, style.scss */
.project-indiv-header .content-project-indiv-header .title-line {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 50px;
  font-family: 'Longline Quart FREE';
}
/* line 542, style.scss */
.project-indiv-header .content-project-indiv-header .title-line::after {
  content: "";
  background-color: #D47964;
  width: 15%;
  margin-top: 60px;
  height: 4px;
  position: absolute;
}

/* line 555, style.scss */
.content-project-indiv {
  padding-right: 150px;
  padding-left: 150px;
  margin-top: 150px;
}
/* line 560, style.scss */
.content-project-indiv h2 {
  color: #D47964;
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-family: 'Longline Quart FREE';
}
/* line 568, style.scss */
.content-project-indiv h2::after {
  content: "";
  background-color: #D47964;
  width: 15%;
  margin-top: 40px;
  height: 3px;
  position: absolute;
}
/* line 577, style.scss */
.content-project-indiv p {
  margin-top: 50px;
  margin-bottom: 130px;
  text-align: center;
}

/* ----------------------- ----------------------- ----------------------- */
@media screen and (max-width: 780px) {
  /* line 588, style.scss */
  .home-presentation {
    height: 600px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    margin-bottom: 200px;
  }

  /* line 599, style.scss */
  .home-projects .div-project {
    height: 105vh;
  }
  /* line 603, style.scss */
  .home-projects .div-project .div-project-content .right {
    height: 50%;
    width: 100%;
    bottom: 0px;
  }
}
